<Configuration>

   <Server port="8080" />

   <Pipeline name="PIPELINE_NAME">
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            root="ctpData/projectName/siteName/roots/directory-import"
            import="_IMPORT"
            quarantine="ctpData/projectName/siteName/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/projectName/siteName/roots/dicom-anonymizer"
            lookupTable="ctpConfig/projectName/siteName/lookup.properties"
            script="ctpConfig/projectName/siteName/anonymizer.properties"
            quarantine="ctpData/projectName/siteName/quarantines/dicom-anonymizer" />
        <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
            root="ctpData/science/umcu/roots/export-service" 
            url="https://ctp-acc.bmia.nl:443"
            acceptDicomObjects="yes"
            acceptXmlObjects="yes"
            acceptZipObjects="yes"
            acceptFileObjects="yes"
            interval="5000" />
   </Pipeline>

</Configuration>