<Configuration>
    <Server
        maxThreads="20"
        port="8080"/>
    <Pipeline name="APPROACH">
        <DicomImportService
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="all"
            name="DicomImportService"
            port="104"
            quarantine="quarantines/DicomImportService"
            root="ctpData/APPROACH/APHP/roots/dicomImportService"/>
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            import="_IMPORT"
            name="Client Directory Import"
            quarantine="ctpData/APPROACH/APHP/quarantines/directory-import"
            root="ctpData/APPROACH/APHP/roots/directory-import"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            lookupTable="ctpConfig/APPROACH/APHP/lookup.properties"
            name="Client DICOM Anonymizer"
            quarantine="ctpData/APPROACH/APHP/quarantines/dicom-anonymizer"
            root="ctpData/APPROACH/APHP/roots/dicom-anonymizer"
            script="ctpConfig/APPROACH/APHP/anonymizer.properties"/>
        <DicomAnonymizer
            name="XnatModifier"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/APPROACH/APHP/roots/dicom-anonymizer-xnat"
            script="ctpConfig/APPROACH/APHP/anonymizerXnat.properties"
            quarantine="ctpData/APPROACH/APHP/quarantines/dicom-anonymizer-xnat" />
        <DicomFilter
            class="org.rsna.ctp.stdstages.DicomFilter"
            name="PatientIdFilter"
            quarantine="ctpData/APPROACH/APHP/quarantines/dicom-filter"
            root="ctpData/APPROACH/APHP/roots/dicom-filter"
            script="ctpConfig/APPROACH/APHP/filter.script"/>
        <!-- <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
            root="ctpData/APPROACH/APHP/roots/export-service" 
			quarantine="ctpData/APPROACH/APHP/quarantines/export-service"
            url="https://ctp.bmia.nl:443"
            interval="5000" />-->
		<DirectoryStorageService
            name="DirectoryStorageService"
            id="stage ID"
            structure="(0010,0020)/(0020,000e)"
            defaultString="UNKNOWN"
            whitespaceReplacement="_"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            root="_EXPORT" 
            setStandardExtensions="yes"
            acceptDuplicates="yes"
            returnStoredFile="yes" /> 
    </Pipeline>
    </Pipeline>
	
</Configuration>
