<Configuration>

   <Server port="8080" />

   <Pipeline name="APPROACH_INTERNAL">
		<ImportService
			name="DicomImportService"
			id="DicomImportService"
            class="org.rsna.ctp.stdstages.DicomImportService"
			root="ctpData/APPROACH/OSLO/roots/dicomImportService"
			port="104"
			
            logConnections="yes"
            logDuplicates="no"
            suppressDuplicates="no">
						
		</ImportService>
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            root="ctpData/APPROACH/OSLO/roots/directory-import"
			import="ctpData/APPROACH/OSLO/import"
            minAge="60000"
            quarantine="ctpData/APPROACH/OSLO/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/APPROACH/OSLO/roots/dicom-anonymizer"
            lookupTable="ctpConfig/APPROACH/OSLO/lookup.properties"
            script="ctpConfig/APPROACH/OSLO/anonymizer.properties"
            quarantine="ctpData/APPROACH/OSLO/quarantines/dicom-anonymizer" />
		<DicomAnonymizer
            name="XnatModifier"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/APPROACH/OSLO/roots/dicom-anonymizer-xnat"
            script="ctpConfig/APPROACH/OSLO/anonymizerXnat.properties"
            quarantine="ctpData/APPROACH/OSLO/quarantines/dicom-anonymizer-xnat" />
		<!-- <DirectoryStorageService
            name="DirectoryStorageService"
            cacheID="cache stage ID"
            structure="(0010,0020)/(0008,0060)_(0020,000e)"
            defaultString="UNKNOWN"
            whitespaceReplacement="_"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            root="ctpData/APPROACH/OSLO/storage" 
            setStandardExtensions="yes"
            filenameTag=""
            acceptDuplicates="yes"
            returnStoredFile="yes" /> -->
        <DicomExportService
            calledAETTag="CTP"
            callingAETTag="CTP"
            class="org.rsna.ctp.stdstages.DicomExportService"
            hostTag="localhost"
            name="DicomExportService"
            portTag="50104"
            quarantine="quarantines/DicomExportService"
            root="roots/DicomExportService"
            url=""/>
   </Pipeline>

</Configuration>