<Configuration>
    <Server
        maxThreads="20"
        port="80">
        <ProxyServer
            proxyIPAddress="xxx.xxx.xxx.xxx"
            proxyPassword="xxxxx"
            proxyPort="xxxx"
            proxyUsername="xxxxx\xxxxx"/>
    </Server>
    <Pipeline name="EFFECTS_MeanderMC">
        <DicomImportService
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="all"
            name="DicomImportService"
            port="1104"
            quarantine="quarantines/DicomImportService"
            root="ctpData/EFFECTS/MeanderMC/roots/dicomImportService"/>
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            import="ctpData/EFFECTS/MeanderMC/import"
            name="Client Directory Import"
            quarantine="ctpData/EFFECTS/MeanderMC/quarantines/directory-import"
            root="ctpData/EFFECTS/MeanderMC/roots/directory-import"/>
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/EFFECTS/MeanderMC/roots/dicom-anonymizer"
            lookupTable="ctpConfig/EFFECTS/MeanderMC/lookup.properties"
            script="ctpConfig/EFFECTS/MeanderMC/anonymizer.properties"
            quarantine="ctpData/EFFECTS/MeanderMC/quarantines/dicom-anonymizer" />
		<Processor
            name="PatientIdFilter"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="ctpData/EFFECTS/MeanderMC/roots/dicom-filter"
            script="ctpConfig/EFFECTS/MeanderMC/filter.script"
            quarantine="ctpData/EFFECTS/MeanderMC/quarantines/dicom-filter" />
        <HttpExportService
            class="org.rsna.ctp.stdstages.HttpExportService"
            name="HTTP Export Service"
            quarantine="ctpData/EFFECTS/MeanderMC/quarantines/export-service"
            root="ctpData/EFFECTS/MeanderMC/roots/export-service"
            sendDigestHeader="yes"
            url="https://ctp.bmia.nl:443"/>
    </Pipeline>
</Configuration>
