<html>
    <head>
        <title>CTP Pipeline Generator</title>
    </head>

    <body>
        <h2>CTP Pipeline Generator</h2>
        <p>Please fill in the needed information below</p>
        <form method="POST">
            <table>
                <tr>
                    <td>Project name:</td>
                    <td><input type="text" name="projectName" id="projectName"/></td>
                </tr>
                <tr>
                    <td>Site name:</td>
                    <td><input type="text" name="siteName" id="siteName"/></td>
                </tr>
                <tr>
                    <td>Project root UID:</td>
                    <td><input type="text" name="projectRootUID" id="projectRootUID"/></td>
                </tr>
            </table>
            <br/>
            <input type="submit" value="Generate!"/>
        </form>
    </body>
</html>