<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

   <Server port="8080" />

   <Pipeline name="IMPACT_MBC_UMCG">
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
			import="/srv/data/sftp/impactumcg/breast_incoming"
			root="/srv/data/ctpData/IMPACT_MBC/UMCG/roots/directory-import"
            interval="60000"
			quarantine="/srv/data/ctpData/IMPACT_MBC/UMCG/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
			root="/srv/data/ctpData/IMPACT_MBC/UMCG/roots/dicom-anonymizer"
			lookupTable="/srv/data/sftp/impactumcg/lookup/breast_lookup.properties"
            script="ctpConfig/IMPACT_MBC/UMCG/anonymizer.properties"
			quarantine="/srv/data/sftp/impactumcg/anonymize-failed/MBC/" />
		<Processor
            name="PatientIdFilter"
            class="org.rsna.ctp.stdstages.DicomFilter"
			root="/srv/data/ctpData/IMPACT_MBC/UMCG/roots/dicom-filter"
            script="ctpConfig/IMPACT_MBC/UMCG/filter.script"
			quarantine="/srv/data/ctpData/IMPACT_MBC/UMCG/quarantines/dicom-filter" />
        <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
			root="/srv/data/ctpData/IMPACT_MBC/UMCG/roots/export-service" 
            url="https://ctp.bmia.nl:443"
            acceptDicomObjects="yes"
            acceptXmlObjects="no"
            acceptZipObjects="no"
            acceptFileObjects="no"
            interval="5000" />
   </Pipeline>

   <Pipeline name="IMPACT_CRC_UMCG">
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
			import="/srv/data/sftp/impactumcg/colorectum_incoming"
			root="/srv/data/ctpData/IMPACT_CRC/UMCG/roots/directory-import"
            interval="60000"
			quarantine="/srv/data/ctpData/IMPACT_CRC/UMCG/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
			root="/srv/data/ctpData/IMPACT_CRC/UMCG/roots/dicom-anonymizer"
			lookupTable="/srv/data/sftp/impactumcg/lookup/colorectum_lookup.properties"
            script="ctpConfig/IMPACT_CRC/UMCG/anonymizer.properties"
			quarantine="/srv/data/sftp/impactumcg/anonymize-failed/CRC/" />
		<Processor
            name="PatientIdFilter"
            class="org.rsna.ctp.stdstages.DicomFilter"
			root="/srv/data/ctpData/IMPACT_CRC/UMCG/roots/dicom-filter"
            script="ctpConfig/IMPACT_CRC/UMCG/filter.script"
			quarantine="/srv/data/ctpData/IMPACT_CRC/UMCG/quarantines/dicom-filter" />
        <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
			root="/srv/data/ctpData/IMPACT_CRC/UMCG/roots/export-service" 
            url="https://ctp.bmia.nl:443"
            acceptDicomObjects="yes"
            acceptXmlObjects="no"
            acceptZipObjects="no"
            acceptFileObjects="no"
			interval="5000" />
   </Pipeline>

   <Pipeline name="IMPACT_RCC_UMCG">
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
			root="/srv/data/ctpData/IMPACT_RCC/UMCG/roots/directory-import"
			import="/srv/data/sftp/impactumcg/renal_incoming"
            interval="60000"
			quarantine="/srv/data/ctpData/IMPACT_RCC/UMCG/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
			root="/srv/data/ctpData/IMPACT_RCC/UMCG/roots/dicom-anonymizer"
			lookupTable="/srv/data/sftp/impactumcg/lookup/renal_lookup.properties"
            script="ctpConfig/IMPACT_RCC/UMCG/anonymizer.properties"
			quarantine="/srv/data/sftp/impactumcg/anonymize-failed/RCC/" />
		<Processor
            name="PatientIdFilter"
            class="org.rsna.ctp.stdstages.DicomFilter"
			root="/srv/data/ctpData/IMPACT_RCC/UMCG/roots/dicom-filter"
            script="ctpConfig/IMPACT_RCC/UMCG/filter.script"
			quarantine="/srv/data/ctpData/IMPACT_RCC/UMCG/quarantines/dicom-filter" />
    	<ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
			root="/srv/data/ctpData/IMPACT_RCC/UMCG/roots/export-service" 
            url="https://ctp.bmia.nl:443"
            acceptDicomObjects="yes"
            acceptXmlObjects="no"
            acceptZipObjects="no"
            acceptFileObjects="no"
			interval="5000" />
   </Pipeline>

</Configuration>
