<Configuration>

   <Server port="80" />

   <Pipeline name="ORCHESTRA_MUMC">
		<ImportService
			name="DicomImportService"
			id="DicomImportService"
            class="org.rsna.ctp.stdstages.DicomImportService"
			root="ctpData/ORCHESTRA/MUMC/roots/dicomImportService"
			port="104"
			
            logConnections="yes"
            logDuplicates="no"
            suppressDuplicates="no">
						
		</ImportService>
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            root="ctpData/ORCHESTRA/MUMC/roots/directory-import"
			import="ctpData/ORCHESTRA/MUMC/import"
            minAge="60000"
            quarantine="ctpData/ORCHESTRA/MUMC/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/ORCHESTRA/MUMC/roots/dicom-anonymizer"
            lookupTable="ctpConfig/ORCHESTRA/MUMC/lookup.properties"
            script="ctpConfig/ORCHESTRA/MUMC/anonymizer.properties"
            quarantine="ctpData/ORCHESTRA/MUMC/quarantines/dicom-anonymizer" />
		<Processor
            name="Filter1"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="ctpData/ORCHESTRA/MUMC/roots/dicom-filter"
            script="ctpConfig/ORCHESTRA/MUMC/filter.script"
            quarantine="ctpData/ORCHESTRA/MUMC/quarantines/dicom-filter" />
		<Processor
            name="Filter2"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="ctpData/ORCHESTRA/MUMC/roots/dicom-filter"
            script="ctpConfig/ORCHESTRA/MUMC/filter2.script"
            quarantine="ctpData/ORCHESTRA/MUMC/quarantines/dicom-filter2" />
		<!-- <DirectoryStorageService
            name="DirectoryStorageService"
            cacheID="cache stage ID"
            structure="(0010,0020)/(0008,0060)_(0020,000e)"
            defaultString="UNKNOWN"
            whitespaceReplacement="_"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            root="ctpData/ORCHESTRA/MUMC/storage" 
            setStandardExtensions="yes"
            filenameTag=""
            acceptDuplicates="yes"
            returnStoredFile="yes" /> -->
        <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
            root="ctpData/ORCHESTRA/MUMC/roots/export-service" 
			quarantine="ctpData/ORCHESTRA/MUMC/quarantines/export-service"
            url="https://ctp.bmia.nl:443"
            interval="5000" />
   </Pipeline>

</Configuration>