<Configuration>
    <Server
        maxThreads="20"
        port="8080"/>
    <Pipeline name="PPH_REVIEW">
        <DicomImportService
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="all"
            name="DicomImportService"
            port="104"
            quarantine="quarantines/DicomImportService"
            root="ctpData/PPH_REVIEW/erasmusmc/roots/dicomImportService"/>
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            import="_IMPORT"
            name="Client Directory Import"
            quarantine="ctpData/PPH_REVIEW/erasmusmc/quarantines/directory-import"
            root="ctpData/PPH_REVIEW/erasmusmc/roots/directory-import"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            lookupTable="ctpConfig/PPH_REVIEW/erasmusmc/lookup.properties"
            name="Client DICOM Anonymizer"
            quarantine="ctpData/PPH_REVIEW/erasmusmc/quarantines/dicom-anonymizer"
            root="ctpData/PPH_REVIEW/erasmusmc/roots/dicom-anonymizer"
            script="ctpConfig/PPH_REVIEW/erasmusmc/anonymizer.properties"/>
        <DicomFilter
            class="org.rsna.ctp.stdstages.DicomFilter"
            name="PatientIdFilter"
            quarantine="ctpData/PPH_REVIEW/erasmusmc/quarantines/dicom-filter"
            root="ctpData/PPH_REVIEW/erasmusmc/roots/dicom-filter"
            script="ctpConfig/PPH_REVIEW/erasmusmc/filter.script"/>
        <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
            root="ctpData/PPH_REVIEW/erasmusmc/roots/export-service" 
			quarantine="ctpData/PPH_REVIEW/erasmusmc/quarantines/export-service"
            url="https://ctp.bmia.nl:443"
            interval="5000" />
		<!-- <DirectoryStorageService
            name="DirectoryStorageService"
            id="stage ID"
            structure="(0010,0020)/(0020,000e)"
            defaultString="UNKNOWN"
            whitespaceReplacement="_"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            root="ctpData/PPH_REVIEW/erasmusmc/roots/output" 
            setStandardExtensions="yes"
            acceptDuplicates="yes"
            returnStoredFile="yes" /> -->
    </Pipeline>
	
</Configuration>
