<Configuration>

   <Server port="80" />

   <Pipeline name="PIPELINE_NAME">
		<ImportService
			name="DicomImportService"
			id="DicomImportService"
            class="org.rsna.ctp.stdstages.DicomImportService"
			root="ctpData/projectName/siteName/roots/dicomImportService"
			port="104"
			
            logConnections="yes"
            logDuplicates="no"
            suppressDuplicates="no">
			
			<!-- <accept calledAET="" />
			<accept ip="" />
			<accept callingAET="" />
			<accept calledAET="" /> -->
						
		</ImportService>
        <ImportService
            name="Client Directory Import"
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            root="ctpData/projectName/siteName/roots/directory-import"
            minAge="60000"
            quarantine="ctpData/projectName/siteName/quarantines/directory-import" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="ctpData/projectName/siteName/roots/dicom-anonymizer"
            lookupTable="ctpConfig/projectName/siteName/lookup.properties"
            script="ctpConfig/projectName/siteName/anonymizer.properties"
            quarantine="ctpData/projectName/siteName/quarantines/dicom-anonymizer" />
		<Processor
            name="PatientIdFilter"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="ctpData/projectName/siteName/roots/dicom-filter"
            script="ctpConfig/projectName/siteName/filter.script"
            quarantine="ctpData/projectName/siteName/quarantines/dicom-filter" />
        <ExportService
            name="HTTP Export Service"
            class="org.rsna.ctp.stdstages.HttpExportService"
            root="ctpData/projectName/siteName/roots/export-service" 
            url="http://ctp.bmia.nl:80"
            acceptDicomObjects="yes"
            acceptXmlObjects="yes"
            acceptZipObjects="yes"
            acceptFileObjects="yes"
            interval="5000" />
   </Pipeline>

</Configuration>