<Configuration>
    <Server port="80" />
    <Plugin
        name="Incoming Audit Log"
        id="IncomingAuditLog"
        class="org.rsna.ctp.stdplugins.AuditLog"
        root="data/audit/incoming" />
    <Plugin
        name="Outgoing Audit Log"
        id="OutgoingAuditLog"
        class="org.rsna.ctp.stdplugins.AuditLog"
        root="data/audit/study-info" />
    <Pipeline name="covid-19-emc">
        <ImportService
			name="DicomImportService"
			id="DicomImportService"
            class="org.rsna.ctp.stdstages.DicomImportService"
			root="data/covid-19/roots/dicomImportService"
			port="1181"
            logConnections="yes"
            logDuplicates="no"
            suppressDuplicates="no"/>
        <ObjectCache
            class="org.rsna.ctp.stdstages.ObjectCache"
            id="IncomingData"
            name="ObjectCache"
            root="data/covid-19/roots/ObjectCache"/>
        <DicomAuditLogger
            name="DicomAuditLogger"
            class="org.rsna.ctp.stdstages.DicomAuditLogger"
            root="data/covid-19/audits/incoming"
            auditLogID="IncomingAuditLog"
            auditLogTags="PatientID;StudyDate;StudyTime;StudyInstanceUID;PatientComments;"
            cacheID="IncomingData"
            level="study" />
        <DicomCorrector
            name="dicom-corrector"
            id="stage ID"
            class="org.rsna.ctp.stdstages.DicomCorrector"
            root="data/covid-19/roots/dicom-corrector" 
            quarantine="data/covid-19/quarantines/dicom-corrector"/>
        <Processor
            name="SOPClassUID-filter"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="data/covid-19/roots/DSA-filter"
            script="config/covid-19/filters/SOPClassUID.filter"
            quarantine="data/covid-19/quarantines/SOPClassUID-filter" />
        <Processor
            name="series-description-filter"
            class="org.rsna.ctp.stdstages.DicomFilter"
            root="data/covid-19/roots/series-description-filter"
            script="config/covid-19/filters/series-description.filter"
            quarantine="data/covid-19/quarantines/series-description-filter" />
        <DicomAnonymizer
            name="Client DICOM Anonymizer"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="data/covid-19/roots/dicom-anonymizer"
            lookupTable="config/covid-19/scripts/lookup.properties"
            script="config/covid-19/scripts/anonymizer.script"
            quarantine="data/covid-19/quarantines/dicom-anonymizer" />
        <DicomAnonymizer
            name="Set Patients Comments"
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            root="data/covid-19/roots/set-patient-comments"
            script="config/covid-19/scripts/set-patient-comments.script"
            quarantine="data/covid-19/quarantines/set-patient-comments" />
        <DicomAuditLogger
            name="DicomAuditLogger"
            class="org.rsna.ctp.stdstages.DicomAuditLogger"
            root="data/covid-19/audits/outgoing"
            auditLogID="OutgoingAuditLog"
            auditLogTags="PatientID;StudyDate;StudyTime;StudyInstanceUID;PatientComments;"
            cacheID="IncomingData"
            level="study" />
        <DirectoryStorageService
            acceptDuplicates="yes"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            logDuplicates="no"
            name="DirectoryStorageService"
            quarantine="ctpData/COVID19/MUMC/quarantines/DirectoryStorageService"
            root="ctpData/COVID19/MUMC/roots/storage"
            setStandardExtensions="yes"
            structure="(0010,0020)/(0008,1030)/(0008,103E)/(0008,0060)"
            whitespaceReplacement="_"/>
        <HttpExportService
            class="org.rsna.ctp.stdstages.HttpExportService"
            name="HTTP Export Service"
            quarantine="ctpData/COVID19/MUMC/quarantines/export-service"
            root="ctpData/COVID19/MUMC/roots/export-service"
            sendDigestHeader="yes"
            url="https://ctp.bmia.nl:443"/>
    </Pipeline>
</Configuration>